body {
    font-family: monospace, sans-serif;
}

#container-index {
    color: #ff0033;
    font-size: 30px;
}

#container-index ul li {
    list-style: none;
}

#romans-2023-24 {
    left: 250px;
    width: 400px;
    position: absolute;
}

#container {
    color: #fff;
    display: inline-block;
    position: absolute;
}

#container > span {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.card-image-background {
    display: inline-block;
}

#logo {
    height: 600px;
}

.player-shirt-number {
    font-size: 50px;
    font-weight: bold;
    left: 40px;
    top: 90px;
    width: 100px;
}

.player-country-flag {
    left: 40px;
    top: 205px;
    width: 100px;
}

#flag {
    height: 40px;
    width: 68px;
}

.player-picture {
    left: 150px;
    top: 60px;
}

#headshot {
    height: 270px;
}

.player-name {
    font-weight: bolder;
    font-size: 50px;
    left: 20px;
    top: 325px;
    width: 350px;
}

.player-super-power {
    font-size: 20px;
    left: 20px;
    top: 375px;
    width: 350px;
}

.attacking-stats, .defending-stats, .romans-stats {
    font-size: 21px;
    line-height: 19px;
    top: 415px;
}

.attacking-stats {
    left: 50px;
}

.defending-stats {
    left: 155px;
}

.romans-stats {
    left: 275px;
}

.setStatsLeft > span, .setStatsRight > span {
    font-size: 40px;
}
