body {
    font-family: monospace, sans-serif;
}

#container-index {
    color: #ff0033;
    font-size: 30px;
}

#container-index img {
    left: 250px;
    position: absolute;
}

#container-index ul li {
    list-style: none;
}

#container {
    color: #fff;
    display: inline-block;
    position: absolute;
}

#container > span {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.cardImage {
    display: inline-block;
}

#logo {
    height: 600px;
}

.setNumber {
    font-size: 50px;
    font-weight: bold;
    left: 40px;
    top: 90px;
    width: 100px;
}

.setFlag {
    left: 40px;
    top: 205px;
    width: 100px;
}

#flag {
    height: 40px;
    width: 68px;
}

.setProfile {
    left: 150px;
    top: 60px;
}

#headshot {
    height: 270px;
}

.setName {
    font-weight: bolder;
    font-size: 50px;
    left: 20px;
    top: 325px;
    width: 350px;
}

.setSuperPower {
    font-size: 20px;
    left: 20px;
    top: 375px;
    width: 350px;
}

.setStatsAttacking, .setStatsDefending, .setStatsRomans {
    font-size: 21px;
    line-height: 19px;
    top: 415px;
}

.setStatsAttacking {
    left: 50px;
}

.setStatsDefending {
    left: 155px;
}

.setStatsRomans {
    left: 275px;
}

.setStatsLeft > span, .setStatsRight > span {
    font-size: 40px;
}
